*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* login page styling */
.center{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #878787;
    background-color: rgb(128, 140, 148);
}
.err{
    color: red !important;
    font-size: 18px;
}
/* .form-control:focus { */
    /* border-color: #ff80ff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5); */
    /* border-color: black; */
/* } */